

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}


@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}

html {
	font-size: 16px;
  }
  
  body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
	  'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
  }
  
  .page {
	padding: 28.125vw 12.5vw 27.5vw;
	background-color: #2b0a1a;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
  }
  .font {
	font-size: 6.25vw;
	font-family: JacquesFrancoisShadow;
	line-height: 2.3438vw;
	color: #ffffff;
  }
  .text-wrapper {
	margin-right: 23.4375vw;
	margin-top: 2.1875vw;
	padding: 1.25vw 0 1.0938vw;
	background-color: #7749f8;
	width: 9.9219vw;
	height: 3.9063vw;
  }
  .text {
	color: #ffffff;
	font-size: 1.25vw;
	font-family: Inter;
	font-weight: 600;
	line-height: 1.4063vw;
  }

  .page {
	background-color: #ebe5fc;
	background-image: url('../../images/3f029675d4603e2e68255b19928ded21.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
  }
  .section {
	background-image: url('../../images/3f029675d4603e2e68255b19928ded21.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100vw;
	height: 65vw;
  }
  .text {
	color: #ffffff;
	font-size: 7.8125vw;
	font-family: JacquesFrancoisShadow;
	line-height: 7.2555vw;
  }
  .pos {
	position: absolute;
	left: 7.3367vw;
	top: 7.5867vw;
  }
  .image {
	width: 44.0625vw;
	height: 43.8281vw;
  }
  .pos_3 {
	position: absolute;
	left: 5.9375vw;
	bottom: 4.4531vw;
  }
  .font {
	font-size: 2.8125vw;
	font-family: STSongti-TC;
	line-height: 3.125vw;
	font-weight: 700;
	color: #ffffff;
  }
  .pos_2 {
	position: absolute;
	right: 24.9914vw;
	top: 14.6328vw;
  }
  .pos_4 {
	position: absolute;
	right: 27.7555vw;
	top: 19.3203vw;
  }
  .text_2 {
	width: 40.0289vw;
  }
  .pos_5 {
	position: absolute;
	right: 5.1586vw;
	top: 24.0078vw;
  }
  .text_3 {
	width: 40.1414vw;
  }
  .pos_6 {
	position: absolute;
	right: 5.1586vw;
	top: 31.8203vw;
  }
  .text-wrapper {
	padding: 1.5625vw 0 1.4063vw;
	background-color: #ffffff;
	width: 6.7969vw;
	border-left: solid 0.07813vw #7749f8;
	border-right: solid 0.07813vw #7749f8;
	border-top: solid 0.07813vw #7749f8;
	border-bottom: solid 0.07813vw #7749f8;
  }
  .pos_7 {
	position: absolute;
	right: 7.9687vw;
	top: 56.4844vw;
  }
  .text_4 {
	color: #6610f2;
	font-size: 1.25vw;
	font-family: Inter;
	font-weight: 600;
	line-height: 0.9227vw;
  }