body {
	background-color: #2B0A1A; 
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Arbutus', sans-serif;
  }
  
 .content1 h1 {
	font-size: 80px;
	color: white;
	text-align: center;
  }
  
  button {
	background-color: purple; 
	color: white;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
	font-size: 10px;
	border-radius: 5px;
  }
  
 h2 {
	color: white;
	font-family: 'Alex Brush', cursive;
	font-size: 96px;
	margin-top: -150px;
	margin-left: -30px;
  }

  p {
	margin: -5px;
	font-size: 20px;
	font-family: 'Jim Nightshade', cursive;
  	color: white;
  	text-align: center;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: white;
}

.co {
	background-image: url('https://s3-alpha-sig.figma.com/img/e0af/246c/4f29cf7b4dfa429493669ec78afc0177?Expires=1702857600&Signature=WQlX2ecx4L56svQLWrLK6ZuazA~BrJa-P77H9yoMwfBIRZ9N8bMhPRGGHKoNaYc2x-FwrZQlUvF7xBH9zb~VTCQBpMQTwRb8umniShcPlffhzt12AVY1SsQTHc~x-yf1HGFeOVS45z8-jnh2whXDnPo5P6xifYu8iyuvCuZD68N8jnAZQFkO~C7JKqUN0kLUqpI7h2d8gXL9as8S3gSTpyWwoRRorwIr0IRuaWi06BoEbp47bpTiGqLMfoEnDR4inrldK4UrILyt292MI7lPuv1jm7SJe02fTkqRgIaJptlLFC-1qJjd6yatEWzLbH5~TPKHpT-rrxqATAuoX3fylg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #2b0a1a;
    padding-top: 25%;
    box-sizing: border-box;
}

.content>div {
    display: flex;
    width: 50%;
    margin-left: 10%;

}

#btn {
    margin-left: 20%;
    margin-top: 5%;
}

#btn button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #7749f8;
    border: none;
}

.co {
    height: 100vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.co>div {
    width: 90%;
    height: 90%;
    background: url(./imgs/navbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1px;
    display: flex;
    position: relative;
}

.right{
	margin-top: -100px;
	margin-left: 200px;
}

.left {
    height: 100%;
    width: 50%;
}

.left>div {
    padding-top: 350px;
    box-sizing: border-box;

}

.left>div {
    margin-left: 230px;
}

.left>div>img {
    width: 50%;
}

.right {
    padding: 120px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right>div {
    width: 27%;
    text-align: center;
}

.right>div>img:nth-child(1) {
    width: 100%;
    height: 110px;
}

.eee {
    width: 90%;
    height: 100px;
}

.right>div img:nth-child(2) {
    height: 30px;
    width: 30%;

}

.left button {
	width: 100px;
    height: 40px;
    border: 1px solid #3911c1;
    position: absolute;
    right: 73%;
    bottom: 3%;
    color: #3911c1;
}

.good {
    background: url('https://s3-alpha-sig.figma.com/img/0198/2bb2/ada41196171aa05b41703fff181ff75d?Expires=1702857600&Signature=DFHvEH9~F51eL7H6r5mm8HAemYoUmJ37ZX4S8B9rAOalEPRIyUsgJnrkZAl~zpqfuZ0bccrCsUEz18uPeAdcg47gsedX8tGzxxmdjQpwM2~EhO2bsmQIkQBxrxeoOAiYAhKMefX5DkzA-Dag7yd-jDdbFvnq6paLTtZj-E77L~Wj4acmpPvqXmXWEn5IcG2kQcuUvxHL1RfRJ-RSEr1dSogpi-SrruZFXPlCE4G-FBxq24Ax-nQfTLGS-CKx0xb1fe3hvEDb8UtC3mhcndUiMWsP-FDNnl986BbAo7FMXu7LEM1fxz2b98w0ZkDP6qYQqLpF6dlDq2lLp3cX3fONsg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    height: 100vh;
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
    color: white;
    padding: 500px; 
    box-sizing: border-box;
}

.good p {
	font-size: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    line-height: 50px;
    text-align: left;
  	color: white;
  	margin-bottom: 20px;
    font-family: "Songti TC";
}

.good input {
    margin-top: 30px;
    margin-left: 35%;
}

.good button {
    width: 100px;
    height: 40px;
    border: 1px solid #3911c1;
    position: absolute;
    right: 10%;
    bottom: 1%;
    color: #3911c1;
}

.ans {
    background: url('https://s3-alpha-sig.figma.com/img/0198/2bb2/ada41196171aa05b41703fff181ff75d?Expires=1702857600&Signature=DFHvEH9~F51eL7H6r5mm8HAemYoUmJ37ZX4S8B9rAOalEPRIyUsgJnrkZAl~zpqfuZ0bccrCsUEz18uPeAdcg47gsedX8tGzxxmdjQpwM2~EhO2bsmQIkQBxrxeoOAiYAhKMefX5DkzA-Dag7yd-jDdbFvnq6paLTtZj-E77L~Wj4acmpPvqXmXWEn5IcG2kQcuUvxHL1RfRJ-RSEr1dSogpi-SrruZFXPlCE4G-FBxq24Ax-nQfTLGS-CKx0xb1fe3hvEDb8UtC3mhcndUiMWsP-FDNnl986BbAo7FMXu7LEM1fxz2b98w0ZkDP6qYQqLpF6dlDq2lLp3cX3fONsg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    height: 100vh;
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
    color: white;
    padding: 700px; 
    box-sizing: border-box;
}

i {
    color: yellowgreen;
    text-decoration: underline;
}

.ooo {
    background: url('https://s3-alpha-sig.figma.com/img/0198/2bb2/ada41196171aa05b41703fff181ff75d?Expires=1702857600&Signature=DFHvEH9~F51eL7H6r5mm8HAemYoUmJ37ZX4S8B9rAOalEPRIyUsgJnrkZAl~zpqfuZ0bccrCsUEz18uPeAdcg47gsedX8tGzxxmdjQpwM2~EhO2bsmQIkQBxrxeoOAiYAhKMefX5DkzA-Dag7yd-jDdbFvnq6paLTtZj-E77L~Wj4acmpPvqXmXWEn5IcG2kQcuUvxHL1RfRJ-RSEr1dSogpi-SrruZFXPlCE4G-FBxq24Ax-nQfTLGS-CKx0xb1fe3hvEDb8UtC3mhcndUiMWsP-FDNnl986BbAo7FMXu7LEM1fxz2b98w0ZkDP6qYQqLpF6dlDq2lLp3cX3fONsg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    padding: 200px;
    color: white;
    position: relative;
}

.ooo>div {
    width: 45%;
    text-align: center;
}

.ooo img {
    width: 80%;
	margin-top: 10%;
}

.ooo .tit {
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
   font-family: 'Jacques Francois Shadow';
}

.ooo .text {
    font-size: 25px;
    line-height: 50px;
    text-align: left;
    font-family: "Songti TC";

}

.ooo button {
    width: 100px;
    height: 40px;
    border: 1px solid #3911c1;
    position: absolute;
    right: 10%;
    bottom: 5%;
    color: #3911c1;
}

.co-last {
    background: url('https://s3-alpha-sig.figma.com/img/b813/8e26/f48bcda3450ed41786c3c0c3ced8b2dd?Expires=1702857600&Signature=JQVuPq~Xd5RhgraP9Ubqj2mwyzHrgqA4nuNS6JDOC-HCHAqPfCQJTM0G5j5ed~MrZTG5GUdmHcmuRErnJZ7taRyHjMvGpxPeAuaeAbKlbKN9HTqruy~0P28solha8DSZM2GrocMFlorKpWDLe945bd~PyfffZB0aaPqhRd4DVI6JiTfiFMhDLRifnAoFqSHKT19-g0nd7rOI2RBuCg92rDpy3lj5a6vfQ~G3Dbv3YbxcDuDsmqtYkqZKMF9K1qbzB39qO8N-NHBooXK1IgkkJ4QhaaFWg6-HGvvZToft-b7DSCpidbJRPb9bsqoqDHJCfOigbxZseyWPCaA6vcctBw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    height: 100vh;
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
    padding: 500px; 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 300px;
    box-sizing: border-box;
}

.co-last p {
	font-family: 'Arbutus', sans-serif;
	font-size: 48px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.aaa {
    font-size: 80px;
}

.bbb {
    margin-top: 20px;
    font-size: 45px;
}

@media all and (max-width:1200px) {
    .ooo .text {
        line-height: 30px;
        font-size: 12px;
    }

    .co>div {
        background-position: 0;
        background-size: cover;
        background-position: -70px;
    }

    .co .right {
        padding: 65px;
    }

    .left>div {
        padding-top: 300px;
        margin-left: 150px;
    }

    .right>div {
        margin-left: 10px;
    }
    .eee{
        height: 120px;
    }
}
@media all and (max-width:700px){
    .eee{
        height: 50px;
    }
}

@media all and (orientation:portrait) {
    .content img {
        width: 90%;
    }

    .co {
        height: auto;

    }

    .co>div {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        padding-bottom: 50px;
        background: url(./imgs/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left {
        width: 100%;
        text-align: center;
        height: auto;
    }

    .left>div {
        padding: 0;
        margin: 0;
    }

    .right {
        width: 100%;
        padding: 0;
    }

    .co-last {
        padding-top: 30%;
    }

    .aaa {
        font-size: 40px;
    }

    .bbb {
        font-size: 30px;
    }

    .ooo {

        padding: 20px;
        display: block;


    }

    .ooo>div {
        width: 100%;
        text-align: center;
    }

    .ooo .tit {
        margin-top: 0;
    }

    .ooo img {
        width: 70%;
    }

    .ooo .text {
        font-size: 12px;
        line-height: 30px;
        text-align: left;
        margin-top: 30px;
        margin-left: 30px;
    }
}


  
  